#add-pane-button {
  margin-left: auto;
  max-width: 100px;
  background-color: var(--bg-0);
  color: var(--ui-text-0);
  border: none;
  outline: none;
  padding: 0.25em;
  cursor: pointer;
  font-size: 3em;
  height: 100%;
}

#settings-button {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  /* !!!! MAGIC */
  height: 1.31em;
  /* standardize colors */
  background-color: var(--bg-1);
  color: var(--ui-text-0);
  border: none;
  outline: none;
  /* padding: 0.25em; */
  cursor: pointer;
  font-size: 2em;
}

#settings-button:hover {
  background-color: var(--bg-1-hover);
}

#settings-button:active {
  background-color: var(--bg-1-active);
}

#add-pane-button-container {
  position: relative;
}

#add-pane-button:hover {
  background-color: var(--bg-0-hover);
}

#add-pane-button:active {
  background-color: var(--bg-0-active);
}

/* modal */

#settings-dialog {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--bg-0);
  padding: 20px;
  border: none;
}
