.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close-button {
  height: 2em;
  margin-right: 0.5em;
  background-color: var(--dark-overlay);
  font-weight: bold;
  border: none;
  outline: none;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 100%;
}

.close-button:hover {
  background-color: #333333a0;
}

.close-button:active {
  background-color: var(--ui-text-0);
  color: var(--bg-1);
}
