.list-pane {
  background: green;
  /* width and height */
  width: 100%;
  min-width: 0px;
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  /* hide scrollbars */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.title-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  background-color: #33333370;
  min-height: 2em;
}

.edit-list-title-button {
  background-color: #33333370;
  color: white;
  border: none;
  outline: none;
  padding: 0.5em;
  cursor: pointer;
  margin-left: 1em;
  border-radius: 100%;
  height: 2em;
  aspect-ratio: 1;
}

.edit-list-title-input {
  background-color: #33333370;
  color: white;
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 0.5em;
}

.edit-list-title-input::placeholder {
  color: white;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 1em;
}

li {
  list-style-type: none;
  margin-bottom: 0.5em;
}

.remove-list-button {
  background-color: #33333370;
  color: white;
  border: none;
  outline: none;
  padding: 0.5em;
  cursor: pointer;
  width: calc(100% - 2em);
  margin: 0em 1em;
  border-radius: 0.5em;
}
