#page-content-container {
  background: red;
  display: flex;
  flex-direction: row;
}

#panes-container {
  display: flex;
  flex-direction: row;
  /* in total, the panes should occupy the entire width of the available area */
  width: 100%;
  overflow-x: auto;
}
