#page-content-container {
  display: flex;
  flex-direction: row;
}

#panes-container {
  display: flex;
  flex-direction: row;
  /* in total, the panes should occupy the entire width of the available area */
  width: 100%;
  overflow-x: auto;
}

#empty-list-message {
  background: #dddddd;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#empty-list-message p {
  margin: 0;
  padding: 2em;
}
